
body {
  background-image: url('../assets/img/fondo3.jpg');
  background-size: cover;
  font-family: sans-serif;
  color: white;
}
.form-container {
  max-width: 400px;
  margin: 80px auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}
input, button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
}
